body {
	background: #d8d8f1;
	margin: 0%;
	padding: 0%;
	height: 100%;
}

.main {
	margin: 2%;
	background: white;
	height: 38rem;
	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: auto;
}

#channel {
	margin-left: 5%;
}

#channel-name {
	width: 75%;
	height: 3rem;
	margin-left: 1%;
	border-radius: 25px;
}

#submit-button {
	width: 4rem;
	height: 3rem;
	margin-right: 1%;
	border-radius: 25px;
	color: white;
	background: #44505f;
}

.channel-pannel {
	height: 38rem;
	background: #3a3e98;
	grid-column-start: 1;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 90% 10%;
}

.channel-display {
	overflow: auto;
	grid-row: 1;
	grid-column: 1;
}

.channel-container {
	grid-row: 2;
	grid-column: 1;
	display: flex;
	flex-direction: row;
	position: relative;
}

.channel-link {
	line-height: 1.5;
}

.channel-link a {
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
}

.channel-link li {
	list-style: none;
	text-align: left;
	margin-left: 15%;
}

.title-name {
	background: black;
	align-items: center;
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: column;
	color: antiquewhite;
}

.message-panel {
	background: #ffffff;
	grid-column-start: 2;
	height: 38rem;
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 90% 10%;
}

.message-container {
	overflow-y: scroll;
	grid-column: 1;
	grid-row: 1;
}

.message-text:nth-child(even) {
	margin-top: 3%;
	margin-left: 5%;
	background: #999ad7;
	line-height: 1;
	border: 2px solid #999ad7;
	border-radius: 15px;
	width: 40%;
	color: white;
}

.message-text:nth-child(odd) {
	margin-top: 3%;
	margin-left: 30%;
	background: #f1f1fc;
	line-height: 1;
	border: 2px solid #f1f1fc;
	border-radius: 15px;
	width: 40%;
	color: black;
}

.message-text li {
	margin-left: 15%;
	list-style: none;
	line-height: 1.6;
}

.message-text i {
	margin-left: 10%;
}

#user-name {
	margin-left: 5%;
}

#write-message {
	width: 90%;
	height: 3rem;
	margin-left: 1%;
	border-radius: 25px;
}

#message-send-button {
	width: 4rem;
	height: 3rem;
	margin-right: 1%;
	border-radius: 25px;
	color: white;
	background: #44505f;
}

.message-write-send {
	grid-column: 1;
	grid-row: 2;
	display: flex;
	flex-direction: row;
	position: relative;
}